.tile{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    width: 100px;
    height: 100px;
}

.dark-tile{
    background-color: #b58863;
}

.light-tile{
    background-color: #f0d9b5;
}

.row{
    align-self: flex-start;
    font-size: 23px;
    padding: 5px;
    /*overflow: hidden;*/
    position: absolute;
}

.col {
    align-self: flex-end;
    font-size: 25px;
    padding: 5px;
    /*overflow: hidden;*/
    position: absolute;
}

.light{
    color: #f0d9b5;
}

.dark{
    color: #b58863;
}

.img{
    /*align-self: center;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80px 80px;
    width: 100px;
    height: 100px;
}
