.tile{
    display: inline-flex;
    justify-content: space-between;
    width: 100px;
    height: 100px;
}

.dark-tile{
    background-color: #b58863;
}

.light-tile{
    background-color: #f0d9b5;
}

.row{
    align-self: flex-start;
    font-size: 23px;
    padding: 5px;
}

.col {
    align-self: flex-end;
    font-size: 25px;
    padding: 5px;
}

.light{
    color: #f0d9b5;
}

.dark{
    color: #b58863;
}
