#chessboard{
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    max-width: 100%;
    width:  800px;
    height: 800px;
}

/*
#chessboard .dark-tile{
    display: inline-flex;
    background-color: #b58863;
}

#chessboard .light-tile{
    display: inline-flex;
    background-color: #f0d9b5;
}
*/
